.about-div {
  max-width: 600px;
  text-align: center;
}

.about-section-top-p {
  margin: 2vh 20px 2vh 20px;
}

.about-section-top-h3-middle {
  margin: 2vh 20px 1vh 20px;
}

.about-section-top-h3-bottom {
  margin: 4vh 20px 1vh 20px;
}
